---
import { t, Trans } from "lingui-for-astro/macro";

const subject = "Astro";
---

<html lang="en">
  <body>
    <h1>{t`Hello ${subject}`}</h1>
    <Trans>Build <strong>Astro</strong> compatibility.</Trans>
  </body>
</html>
