---
import { Code } from "astro/components";

import { resultCodeThemes, sourceCodeThemes } from "../lib/code-themes.ts";
import type { MacroWorkbenchCodeArtifact } from "../lib/macro-workbench/spec.ts";

interface Props {
  artifact: MacroWorkbenchCodeArtifact;
  surface?: "result" | "source";
}

const { artifact, surface = "source" } = Astro.props;
const themes = surface === "result" ? resultCodeThemes : sourceCodeThemes;
---

<div class="demo-code-block contents [&>pre]:p-2">
  <Code
    code={artifact.code}
    lang={artifact.lang}
    themes={themes}
    defaultColor="light"
    wrap
  />
</div>
