.twp {
  --demo-background: var(--sl-color-black);
  --demo-border: var(--sl-color-gray-5);
  --demo-code-surface: var(--sl-color-black);

  --demo-toolbar-text: var(--sl-color-gray-2);
  --demo-toolbar-background: var(--sl-color-bg-sidebar);

  --demo-tab-text-default: var(--sl-color-text);
  --demo-tab-text-hover: var(--sl-color-text);
  --demo-tab-text-active: var(--sl-color-white);
  --demo-tab-border-default: var(--sl-color-gray-5);
  --demo-tab-border-hover: var(--sl-color-gray-5);
  --demo-tab-border-active: var(--sl-color-text-accent);

  --demo-result-background: var(--sl-color-black);
  --demo-preview-text: var(--sl-color-text);

  --demo-control-text: var(--sl-color-gray-2);
  --demo-control-background: var(--sl-color-bg-sidebar);
  --demo-control-border: var(--sl-color-gray-5);
  --demo-control-active-background: var(--sl-color-accent-low);
  --demo-control-active-text: var(--sl-color-white);

  --demo-control-field-text: var(--sl-color-gray-2);
  --demo-control-field-background: var(--sl-color-black);
  --demo-control-field-border: var(--sl-color-gray-4);
}

.demo-code-block .astro-code {
  margin: 0 !important;
  padding-block: var(--ec-codePadBlk) !important;
  padding-inline: var(--ec-codePadInl) !important;

  font-family: var(--ec-codeFontFml) !important;
  font-size: var(--ec-codeFontSize) !important;
  font-weight: var(--ec-codeFontWg) !important;
  line-height: var(--ec-codeLineHt) !important;
}

:root[data-theme="dark"] .demo-code-block .astro-code {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}

:root[data-theme="dark"] .demo-code-block .astro-code span {
  background-color: var(--shiki-dark-bg, transparent) !important;
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style, inherit) !important;
  font-weight: var(--shiki-dark-font-weight, inherit) !important;
  text-decoration: var(--shiki-dark-text-decoration, inherit) !important;
}
